* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-image: url(playful-tic-tac-toe-free-vector.jpg);
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    opacity: 0.7;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    background-color: #ffffc7;
    box-shadow: 0 0 1rem rgba(236, 229, 229, 0.5)

}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    color: #191913;
    opacity: 0.7;
    background-color:0 0 1rem rgba(236, 229, 229, 0.5)

    
}
#new-btn{
    padding:1rem;
    font-size:1.25rem;
    background-color: #ffffc7;
    color: #191913;
    border-radius: 1rem;
    border: none;
    opacity:0.7;
}
#msg{
    color: rgb(54, 2, 54);
    font-size:4vmin;
}
.msg-container{
    height: 20vmin;
}